

#keys > button {
    color: rgb(0, 164, 14);
    font-weight: bolder;
    width: 10%;
    border-radius: 10px;
    font-size: 25px;
    transition: background-color 0.3s;
    padding: 10px;
    text-transform: uppercase;
    
}

button:hover {
    background-color: rgb(157, 233, 157);
}

#keys {
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    gap: 10px;
    padding-bottom: 300px;
    max-height: 300px;
}

button[disabled] {
    background-color: #a7a7a7;
}
